body {
    text-align: center;
    background-color: black;
}

h1 {
    font: size 50px;
    background-color: khaki;
    font-family: 'Noto Rashi Hebrew', serif;
    border: 9px solid red;
    border-radius: 50px;
}

h1:hover {
    background-color: darkorange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    border: 1px solid burlywood;
    color: dodgerblue;
}

h1:active {
    background-color: aqua;
    bottom: 6px blue;
}

p {
    font-size: 30px;
    font-family: 'Secular One', sans-serif;
    color: cyan;

}

div {
    bottom: 3px yellow solid;
    border-radius: 50px;
    box-shadow: 5 5 8 2;
    margin: auto;
    padding: auto;
    width: 300px;
    height: 100px;
}