.container{
    max-width: 900px;
    
}
.budy{
    direction: rtl;
    
    
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
nav{
    min-height: 40px;
    background: black;
    color: white;
}
nav .nav_inside a{
    color: white;
    text-decoration: none;
    padding: 0 12px;
}

header{
    min-height: 150px;
    background: skyblue;
    color: blue;
}

main{
    min-height: 300px;
    background: black;
    color: white;
}

main .row .box_top{
    border: 2px solid white;
    min-height: 250px;
    }

    main .row .box_boton{
        border: 2px solid gold;
        min-height: 250px;
        }

footer{
    min-height: 50px;
    background: gray;
    color: white;
    bottom: 0;
    position: absolute;
}