body{
    direction: rtl;
    background-color: black;
    color: antiquewhite;
    /* display: flex; */
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:auto;
    margin: auto;
}

#calculator{
    padding:auto;
    margin: auto;
    width: 300px;
    background-color: aqua;
    color: chocolate;
}

#calculator_value{
    background-color: rgb(194, 180, 201);
    color: red;
}