body{
    font-family: Verdana;
    direction: rtl;
}

*{
    margin: 0;
    padding: 0;
}

header,footer{
position: absolute;
background-color: #000;
width: 100%;
color: white;
}

header{
    height: 8vh;
}
header h2{
    position: absolute;
    margin-top: 20px;
    right: 10%;
}

footer{
    height: 10vh;
    bottom: 0;
}

footer h3{
    position: absolute;
    right: 45%;
}
.nav{
    position: absolute;
    width: 100%;
}

.nav a{
    position: relative;
    right: 45%;
    top: 20%;   
    color: white;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
}

footer span{
    position: absolute;
    right: 48%;
    bottom: 20px;
    color: orange;
    }