body{
    direction: rtl;
    background-color: black;
}

.block1 {
    background-color: blue;
    animation: upside 2s infinite;
    height: 100px;
    width: 100px;
    margin: auto;
    padding: auto;
    border: 5px solid red ;
    border-radius: 20px;
}

.block2 {
    background-color: red;
    animation: color5 3s infinite;
    height: 100px;
    width: 100px;
    margin: auto;
    padding: auto;
    border: 5px solid red ;
    border-radius: 20px;
}

.block3 {
    background-color: yellow;
    animation: rotate 1.5s linear infinite;
    height: 100px;
    width: 100px;
    margin: auto;
    padding: auto;
    border: 5px solid red ;
    border-radius: 20px;
}

.block0{
    height: 100px;
    width: 100px;
    margin: auto;
    padding: auto;
    }

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}


@keyframes color5 {
    0% {
        background-color : aqua;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: blueviolet;
    }

    75% {
        background-color: chartreuse;
    }

    100% {
        background-color: coral;
    }
}

@keyframes upside {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}