body {
    direction: rtl;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.nav-link{
    color: white;
}

#r1{}

.r2:hover{
    animation-name: r2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#r3{}

.r55 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: auto;
    padding: auto ;
    
    
  }
  
  @keyframes r2 {
    0%   {background-color:red; }
    25%  {background-color:yellow; }
    50%  {background-color:blue; }
    75%  {background-color:green; }
    100% {background-color:red; }
  }