.boto{
    background-color: red;
}

.boto:hover{
    background-color: chartreuse;
}

.boto:active{
    background-color: gold;
}

body{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.child{
    background-color:blueviolet;
}

.child:hover{
    background-color:cyan;
    color:rgb(219, 23, 23);
}

.child:active{
    background-color:rgb(243, 122, 24);
    color: white;
}