* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
  }
  
  /* Style the header */
  header {
    /* background-color: #666; */
    /* padding: 30px; */
    text-align: center;
    font-size: 30px;
    color: fuchsia;
    text-decoration: underline overline orange;
    border: solid red 3px ;
    border-radius: 50px;
    top: 0;
    position: sticky;
    background-color: khaki;
    width: 100%;
    height: 10vh;
    opacity: 70%;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: right;
    width: 10%;
    height: 80%; 
    background: rgb(92, 225, 58);
    padding: 10px;
    position: relative;
    /* box-sizing: revert; */

  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #d43232;
    /* height: 300px; only for demonstration, should be removed */
    border-radius: 15%;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    text-align: center;
    color: white;
    float: end;
    height: 8vh;
    bottom: 0;
    position: relative;
    background-color: #000;
    width: 100%;
    }
  
  /* Responsive layout - makes the two columns/boxes 
  stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  div {
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
  }
  
  .content-box {
    box-sizing: content-box;
    /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
       Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
       Content box width: 160px
       Content box height: 80px */
  }
  
  .border-box {
    box-sizing: border-box;
    /* Total width: 160px
       Total height: 80px
       Content box width: 160px - (2 * 20px) - (2 * 8px) = 104px
       Content box height: 80px - (2 * 20px) - (2 * 8px) = 24px */
  }
  